@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

@layer base {
  html {
    --color-text-primary: #FCFBF9;
    --color-text-secondary: #2E453D;

    --color-button-1: #2E453D;
    --color-button-2: #BCCDA0;
    --color-button-3: #3E5B51;
    --color-button-4: #FAF4E9;

    --color-background-primary: #FCFBF9;
    --color-background-secondary: #EAE4D8;
    --color-background-tertiary: #2E453D;
  }
}


