@tailwind base;
@tailwind components;
@tailwind utilities;

/*
sm 640
md 768
lg 1024
xl 1280
2xl 1536
3xl 1800
*/

@layer base {
  :root {
    --color-text-primary: #FCFBF9;
    --color-text-secondary: #2E453D;

    --color-button-1: #2E453D;
    --color-button-2: #BCCDA0;
    --color-button-3: #3E5B51;
    --color-button-4: #FAF4E9;

    --color-background-primary: #FCFBF9;
    --color-background-secondary: #EAE4D8;
    --color-background-tertiary: #2E453D;
    --color-background-quaternary: #BCCDA0;
    --radius: 0.5rem;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.main {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .main {
    width: 83.3333%;
  }
}

.actionSection {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .actionSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.actionSection .actionSectionText {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) { /* lg */
  .actionSection .actionSectionText {
    width: 62.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

.actionSection .marginContainer {
  width: 12.5%;
  margin-left: auto;
  margin-right: auto;
}

.actionSection .actionSectionButton {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* Images container DoubleImageSection */

.twoImagesParentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.twoImagesParentContainer img {
  width: calc(50% - 5px);
}

@media (min-width: 640px) {
  .twoImagesParentContainer img {
    width: calc(43% - 5px);
  }
}

@media (min-width: 1280px) {
  .twoImagesParentContainer img {
    width: calc(45% - 5px);
  }
}

@media (min-width: 1536px /*2xl*/) {
  .twoImagesParentContainer img {
    width: calc(40% - 5px);
  }
}

